@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signinbody{
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: rgb(50, 222, 46);
  background-image: url(/images/wallpaperflare.com_wallpaper\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 2%;
}

.wrapper{
  width: 420px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white; 
  padding: 0px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  width: 100%;
  height: 40px;  
  margin: 50px 0px 30px 0px;

  
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 13px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: white;
}

.input-box i{
  position: absolute;
  right: 60px;
  margin-top: 5%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper.remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin-left: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
  margin-left: 15%;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: rgb(247, 183, 27);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin-top: 40px;
}

.wrapper .btn a{
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link{
  font-size: 14.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-link p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
  color: rgb(247, 183, 27);
}

.text{
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 65%;
  height: 60vh;
}

.whitepart{
    background-color: white; 
    width: 55%;
    height: 100vh;
    padding-top:9%; 
    padding-left: 11%;
  }

  .welcome{
    font-size: 36px;
    color: rgb(49, 222, 46);
  }

  .greenpart{
    width: 45%; 
    background-color: rgb(49, 222, 46); 
    display: flex;  
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
  }